### why python? soit ctrl+enter

In [1]:
print(1)

1

In [2]:
1, 2.0, 'frr', [1,2,3,4], (1, 2, 3), 
{
    'name':'some name',
    'address', '--'
}
{1,2,3,4,1} #data types

SyntaxError: invalid syntax (<ipython-input-2-01bc6cd8169d>, line 4)

In [3]:
print(1, 2, 3)

1 2 3

In [4]:
print(1, 'a', 1) # '1' int

1 a 1

In [5]:
int('1')

1

In [6]:
str('22')

'22'

In [7]:
# comment
# comment - sphinx 
print(1)
'''
i am a comment
comment
'''
"""
i am a comment
comment
"""

1

'\ni am a comment\ncomment\n'

In [8]:
print() # what to print | sep | end | sys.out | flush

In [10]:
print(1, 2, 3, sep='*') # default is white space
print(1, 2, 3, sep=' ')

1*2*3
1 2 3

In [11]:
print('a', 'b', 'c', end='$') # default is new line
print('a', 'b', 'c', end='=')
print('a', 'b', 'c', end='\n')
print(1, 2, 3)

a b c$a b c=a b c
1 2 3

In [12]:
# print(1, sys.out = open( ... ))
# print(1, flush=True)

In [13]:
True # == 1
False # == 0

False

In [14]:
if 1 == True:
    print('ok')
else:
    print('no')

ok

In [15]:
if 0 == False:
    print('ok')
else:
    print('no')

ok

In [16]:
True + True

2

In [17]:
True + False + True

2

In [18]:
'jdnbjdfbnfljnrljn'

'jdnbjdfbnfljnrljn'

In [19]:
"kldnblktnljrnfln"

'kldnblktnljrnfln'

In [20]:
"i don't know"

"i don't know"

In [21]:
"""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-21-ab0d5f5f0780>, line 1)

In [22]:
'"'

'"'

In [24]:
"\"\"\"\"\""

'"""""'

In [25]:
'dklbmdglkmb'+'sijgeltj'

'dklbmdglkmbsijgeltj'

In [26]:
'\t\n\r'

'\t\n\r'

In [27]:
'i am using'.split()

['i', 'am', 'using']

In [28]:
'i .am .using'.split('.')

['i ', 'am ', 'using']

In [30]:
'abdcd'[0]

'a'

In [31]:
'abdcd'[4]

'd'

In [32]:
[1, 2, 3][0]

1

In [33]:
# strings are immutable
x = 'abcd'
x[0] = 'z'

TypeError: 'str' object does not support item assignment

In [34]:
y = [1, 2, 3]
y[0] = 16
y

[16, 2, 3]

In [35]:
z = '1234567890'
z[3:] # indexing -> start : end : step

'4567890'

In [36]:
z[3:7]

'4567'

In [37]:
z[::2]

'13579'

In [38]:
z[::3]

'1470'

In [39]:
# replace

'abbbbbbbbbabbbbbbabbbbabbb'.replace('a', '  ')

'  bbbbbbbbb  bbbbbb  bbbb  bbb'

In [40]:
# length of string
len(z)

10

In [41]:
'         rgergegtrgtrhrhrth         '.strip()

'rgergegtrgtrhrhrth'

In [42]:
'$$$$$$$$$$$rgergegtrgtrhrhrth$$$$$$$$$$$$$$$$$$$$$$$$$'.strip('$') #lstrip, rstrip

'rgergegtrgtrhrhrth'

In [43]:
'console message'.center(20)

'  console message   '

In [45]:
'console message'.center(30, '*')

'*******console message********'

In [46]:
'3'.zfill(3)

'003'

In [47]:
'a' * 4

'aaaa'

In [48]:
1 + 2 - 3

0

In [49]:
5/2

2.5

In [50]:
5//2 # floor division

2

In [51]:
10%3

1

In [52]:
list('abcdefghij')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [53]:
for alph in 'abcdefghijklmno':
    print(alph)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o

In [54]:
my_list = [1, 2, 3, 4]
for accelerator in my_list:
    print(accelerator)

1
2
3
4

In [55]:
# naming convention PEP8 avek google python style guide
# imports

# constants
PI = 3.14
name = ''
my_name = ''
myName = '' # bad style
my_nums = [1, 2, 3, 4]
# never step over 79 columns 
[1, 2, 3, 
 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [56]:
var = """
ergetgte
rhrthrn
ehtthh
"""
var

'\nergetgte\nrhrthrn\nehtthh\n'

In [57]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [58]:
a = 1
b = 2
c = 3

a = b = c = 1

print(a, b, c)

1 1 1

In [60]:
a, *x, b = 1, 2, 3, 4, 5, 6, 7
print(a)
print(x)
print(b)

1
[2, 3, 4, 5, 6]
7

In [61]:
*a, x, b = 1, 2, 3, 4, 5, 6, 7
print(a)
print(x)
print(b)

[1, 2, 3, 4, 5]
6
7

In [62]:
a, x, *b = 1, 2, 3, 4, 5, 6, 7
print(a)
print(x)
print(b)

1
2
[3, 4, 5, 6, 7]

In [63]:
nums = [1,2,3]
for num in nums:
    print(num)

1
2
3

In [65]:
x = [1, 2]
y = x #[1, 2]
x[0] = 10
print(x)
print(y)

[10, 2]
[10, 2]

In [66]:
type(1)

int

In [67]:
x = [1, 2]
y = x.copy() #[1, 2]
x[0] = 10
print(x)
print(y)

[10, 2]
[1, 2]

In [68]:
d = [1, 2, 3]
d.append(4)
d

[1, 2, 3, 4]

In [70]:
d.pop()
d

[1, 2]

In [72]:
d.pop(0)
d #remove()

[]

In [74]:
sorted([1, 3, 4, 1, 2, 10])

[1, 1, 2, 3, 4, 10]

In [76]:
list(reversed([1, 3, 4, 1, 2, 10]))

[10, 2, 1, 4, 3, 1]

In [78]:
# remove duplicates from list
masky_list = [1, 2, 3, 1, 'a', 5, 'r', 'a']
masky_list = list(set(masky_list))
masky_list

['a', 1, 2, 3, 5, 'r']

In [80]:
# list comprehensions
# while loop
# for loop
# for in loop

x = 0
x = x + 1
x

1

In [82]:
x += 1 # in place operators
x

3

In [83]:
x -= 1
x

2

In [84]:
x *= 2 # x = x * 2 -> x = 2 * 2
x

4

In [85]:
x = 10 # x = x%2
x %= 2

In [86]:
x

0

In [87]:
x = 0 # no ++ 
isOn = True

while isOn == True:
    x += 1
    print(x)
    if (x==5):
        isOn = False

1
2
3
4
5

In [88]:
x = 6

if x == 5 or x == 6:
    print(1)
elif x == 8:
    print(2)
elif x == 7 and x == 11:
    print(3)
else:
    print(3)

2

In [89]:
if x != 6: # > < >= <=
    print(1)

In [90]:
if not 1==1:
    print(10)

In [91]:
if 'maskys' in 'i am maksys':
    print('ok')

In [92]:
if 'm' in 'i am maksys':
    print('ok')

ok

In [93]:
'wjncjlefvncefj'.find('e') # -1

6

In [94]:
if 'i am maksys'.find('maksys') != -1:
    print('ok') # bad

ok

In [95]:
for num in range(10): #start, end, step
    print(num)

0
1
2
3
4
5
6
7
8
9

In [96]:
for num in range(3, 10): #start, end, step
    print(num)

3
4
5
6
7
8
9

In [97]:
for num in range(0, 10, 2): #start, end, step
    print(num)

0
2
4
6
8

In [99]:
# list comprehensions

nums = [1, 2, 3, 4]
added_one  = [x for x in nums]
added_one

[1, 2, 3, 4]

In [100]:
nums = [1, 2, 3, 4]
added_one  = [x+1 for x in nums]
added_one

[2, 3, 4, 5]

In [101]:
my_list  = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
# add conditions
my_list  = [x for x in range(10) if x%2 == 0]
my_list

[0, 2, 4, 6, 8]

In [103]:
# covert list of integers -> string
nums = [1, 2, 3, 'a']
my_list  = [str(x) for x in nums] # [operation - list - condition]
my_list

['1', '2', '3', 'a']

In [104]:
# check if element of list present in string

MI_CHECK = ['apple', 'orange']
user_text = 'i like apple'

if any(word in user_text for word in MI_CHECK):
    print('fruit detected')

fruit detected

In [105]:
boy = { # dictionary
    'name':'accelerator',
    'age':1
}

boy['name']

'accelerator'

In [106]:
boy['age']

1

In [107]:
boy['age'] = 10
boy

{'age': 10, 'name': 'accelerator'}

In [ ]:
# -------------------------------------