# data type

In [1]:
# string
'wgfergerg'

'wgfergerg'

In [2]:
# int
1

1

In [3]:
# float
1.0

1.0

In [31]:
# booleans
True

True

In [32]:
False

False

In [33]:
# in python true equals 1
# false equals 0

if True == 1:
    print('ok')

ok

In [34]:
# so, we can add booleans
# 1 + 0
True + False

1

In [35]:
True + 2
# 1 + 2

3

In [12]:
# lists
[1, 2, 3]

# can also contain many data types
y = [1, 2, 'a', 2.0, [1, 2]]
y

[1, 2, 'a', 2.0, [1, 2]]

In [15]:
y[0], y[1], y[2]

(1, 2, 'a')

In [5]:
from decimal import Decimal
Decimal('3.14')

Decimal('3.14')

In [ ]:
# dictionaries
x = {
    'a':1,
    'b':2
}
x

In [9]:
x['a']

1

In [10]:
x['b']

2

In [17]:
# tuples
z = (1, 2, 3)
z

(1, 2, 3)

In [18]:
z[0]

1

# difference between tuple and list

list mutable
tuples unmutable

# print function

In [19]:
print(1)

1

In [20]:
# several elements
print(1, 2)

1 2

In [21]:
# print sev data types
print(1, 2.0, 'a')

1 2.0 a

# 5 arguments of print

1) datas to print

In [22]:
# data
print(1, 2.0, 'a')

1 2.0 a

2) sep

In [23]:
# sep
print(1, 2, 3, sep='@')

1@2@3

In [24]:
print(1, 2, 3, sep='---')

1---2---3

In [25]:
# default is white space
print(1, 2, 3, sep=' ')

1 2 3

3) end

In [26]:
# end
print(1, 2, 3, end='#')

1 2 3#

In [30]:
print(1, 2, 3, end='#')
print(1, 2, 3, end='^')
print(1, 2, 3, end='*')

1 2 3#1 2 3^1 2 3*

In [28]:
# default of end is newline
print(1, 2, 3, end='\n')
print(1, 2, 3, end='\n') # \t means tab and \r is cariage return

1 2 3
1 2 3

4) sys.out

In [ ]:
print(1, 2, sys.out=open(...)) # reroute output to console
# or text file or socket

5) flush

In [36]:
print(1, 2, flush=True)

1 2

# operations

In [37]:
1 + 2

3

In [38]:
2 - 1

1

In [39]:
2 * 3 #times

6

In [40]:
6/2 #divide normal

3.0

In [42]:
7/2

3.5

In [43]:
# floor division
7//2

3

In [41]:
2**3 #exponentiation
# 2*2*2

8

In [44]:
import math
math.sqrt(25)

5.0

In [45]:
4%2

0

# in-place operators

In [69]:
x = 1
x += 1 # x = x + 1 # no ++ in python no --
x

2

In [70]:
y = 10
y = y - 1
y

9

In [73]:
y -= 1
y

6

In [75]:
y *= 2
y

24

In [76]:
y /= 2 # y = y/2
y

12.0

# comments

In [46]:
# comment
# comment

In [47]:
'''
comment
comment
'''
print(1)
"""
comment
comment
"""

1

'\ncomment\ncomment\n'

# variables

In [49]:
x = 1
x

1

In [50]:
x = 'a'
x

'a'

In [59]:
x = '''
ffgdfgvdfb
bdfbdfbdf
dfbfdb
'''
x

'\nffgdfgvdfb\nbdfbdfbdf\ndfbfdb\n'

In [52]:
x = [1, 2, 3]
x

[1, 2, 3]

In [55]:
a, b, c = 1, 4, 3 # multiple declarations
print(a, b, c)

1 4 3

In [56]:
a = b = c = 1
print(a, b, c) # #multiple declarations to same value

1 1 1

# semi-colon

In [57]:
print(1)
print(2)
print(3)

1
2
3

In [58]:
print(1); print(2); print(3)

1
2
3

# style guide in python

In [60]:
# pep8 
# google python style guide

# strings single and double quotes

In [61]:
'svfdvfdv' # preferred way - proof IDLE

'svfdvfdv'

In [62]:
"wevfervgerb"

'wevfervgerb'

In [63]:
print('''
dvsfdv
wefwfgwrgf
''')

dvsfdv
wefwfgwrgf

In [64]:
# i don't want to
"i don't want to"

"i don't want to"

In [65]:
#else error
'i don't want to'

SyntaxError: invalid syntax (<ipython-input-65-46bb27818b9c>, line 2)

In [66]:
'"""""""'

'"""""""'

In [67]:
'\'\'' # escaping

"''"

# check for type

In [79]:
type(1) # outputs <class 'int'>
# because everything in python is an object
# python is highly oop

int

# type casting

In [77]:
str(1) # converts int to string

'1'

In [78]:
int('1') # converts string '1' to int

1

# string concatenation

In [68]:
'abc'+'def'

'abcdef'

In [80]:
'ab' + str(1) + 'cd'

'ab1cd'

In [85]:
'ab' += 'c' # why error here because string is immutable

SyntaxError: can't assign to literal (<ipython-input-85-5d3ef8a53a10>, line 1)

In [84]:
x = 'ab'
x += '' + 'c' # x = x + <empty string> + 'c'
x

'abc'

# string indexing

In [86]:
'abcdef'[1] # just like lists

'b'

In [87]:
x = 'abcdef'
x[1]

'b'

In [91]:
print(x[0], x[1], x[2], x[3])

a b c d

In [92]:
print(x[4])

e

In [93]:
# strings are immutable, no reassignment
x[0] = 'z'

TypeError: 'str' object does not support item assignment

# times string

In [94]:
'a' * 3

'aaa'

In [95]:
'-' * 10

'----------'

In [96]:
'2' * 10

'2222222222'

# string manipulation methods

In [97]:
'abcdef'.replace('a', 'z')

'zbcdef'

In [98]:
'     abcdef      '.strip()

'abcdef'

In [99]:
'####abcdef######'.strip('#')

'abcdef'

In [100]:
'###abc'.lstrip('#') # left lstrip

'abc'

In [101]:
# convert to list
'i am in here'.split()

['i', 'am', 'in', 'here']

In [102]:
'i#am#here'.split('#')

['i', 'am', 'here']

In [103]:
'abcdef'.find('c') #returns index

2

In [104]:
'abcd'.find('z') # not found

-1

In [105]:
'welcome'.center(30)

'           welcome            '

In [106]:
'welcome'.center(30, '*')

'***********welcome************'

# length of string

In [107]:
len('abcdef')

6

# slicing strings

In [ ]:
## syntax <start index> : <end index> : <step>

In [108]:
'abcdef'[1]

'b'

In [109]:
'abcdefghij'[2:5]

'cde'

In [110]:
'abcdefghij'[:5]

'abcde'

In [111]:
'abcdefghij'[2:9:2]

'cegi'

In [114]:
'101010101010101010'[::2] # 0:len(string):2

'111111111'

In [115]:
'abcdefghij'[::-1] # 0:len(string):2

'jihgfedcba'

In [116]:
'abcdefghij'[::-2]

'jhfdb'

# string iteration

In [117]:
my_str = 'abcdef'

for a in my_str: # myString bad 
    print(a)
'''
for i=0; i<len(string); i++ ...
'''

a
b
c
d
e
f

In [118]:
for apple in my_str:
    print(apple)

a
b
c
d
e
f

In [119]:
for apple in 'abcdef':
    print(apple)

a
b
c
d
e
f

# selection / if

In [122]:
# no switch in python
x = 1

if x == 1:
    print('ok')
elif x == 2:
    print('not ok')
else:
    print('well')

ok

# about in

In [123]:
if 'abc' in 'abcd':
    print('nice')

nice

In [126]:
if "abcd".find("abc") != -1: # bad not pythonic
    print('nice')

nice

In [124]:
if 'swear_word' in 'phrase swear_wordnewword':
    print('aha')

aha

In [125]:
if 'a' in ['a', 'b', 'c']:
    print(1)

1

# about not

In [127]:
x = 4

if x != 1:
    print('ok')

ok

In [129]:
x = 4

if not x == 1:
    print('ok')

ok

In [130]:
if 'a' not in [1, 2, 3]:
    print(2)

2

In [132]:
if 'a' is not 'c':
    print(2)

2

# the is keyword

In [133]:
# is tests for references

x = [1, 2, 3]
y = 8
z = x
x[0] = 10 # [10, 2, 3]
z #expecting? [1, 2, 3]

[10, 2, 3]

In [134]:
# because of references
z is x

True

In [135]:
z is y

False

# lists

In [136]:
c = [1, 2, 3]
c[0]

1

In [138]:
c[0] = 'a'
c

['a', 2, 3]

In [139]:
c.append('d')

In [140]:
c

['a', 2, 3, 'd']

In [141]:
c.pop()
c

['a', 2, 3]

In [142]:
# add
a = [1, 2, 3]
b = [2, 4, 6]
a + b

[1, 2, 3, 2, 4, 6]

In [143]:
a * 2

[1, 2, 3, 1, 2, 3]

In [145]:
b * 2

[2, 4, 6, 2, 4, 6]

# loops

In [146]:
# for loop
#normal
for i in range(10): # syntax start, end, step
    print(i)

0
1
2
3
4
5
6
7
8
9

In [147]:
x = 'abcd'
for i in range(len(x)):
    print(x[i])

a
b
c
d

In [148]:
for a in x:
    print(a)

a
b
c
d

In [149]:
for i in range(2, 10): # syntax start, end, step
    print(i)

2
3
4
5
6
7
8
9

In [150]:
for i in range(0, 10, 2): # syntax start, end, step
    print(i)

0
2
4
6
8

In [152]:
# for in loop
x = [1, 2, 3]

for num in x:
    print(num)

1
2
3

In [153]:
for i in range(len(x)):
    print(x[i])

1
2
3

In [154]:
# while loop

isOn = True
count = 0

while isOn == True: # while isOn:
    count += 1
    print(count)
    if count > 5:
        isOn = False

1
2
3
4
5
6

In [155]:
# infinite while loop
# while 3 == 3:
# while True:
# while 1: # as True and 1 same value

# list comprehensions

In [156]:
x = [1, 2, 3]

[element for element in x]

[1, 2, 3]

In [157]:
[element+1 for element in x]

[2, 3, 4]